*.pyc
*.d
*.so
logs
mergeLogs
inputFile*
analysis*
temp
*.tar.gz
cached_*
STDistributionComparisons
STScaling
publicationPlots
fileLists
cached
signalContamination
*.lock
mergedStatistics
MCGeneratedMassesTest
*.log
*.stdout
*.stderr
docker_stderror
